/** Stylus Styles */

// Available variables https://github.com/vuetifyjs/vuetify/blob/master/src/stylus/settings/_variables.styl

@import './theme.styl'

@import '../../node_modules/vuetify/src/stylus/app'


//  variables
$primary = #F5BA13
$red = rgba(255,0,0,.7)

// styles

.container
  padding 0

.application--light .navigation-drawer
  background-color: $primary

.application--light .toolbar
  background-color: $primary

.application > main
  flex-direction: column

a
  text-decoration: none
/* using */
.backgroundText
  min-height 40px
  padding: 5px 10px
  display flex
  align-items center
  justify-content: center
  background-color #E8E7E7
  box-shadow 0px 0px 5px 5px #E8E7E7
  div
    font-size: 2rem
    color #A7A7A7
    font-weight: bolder
    .darken
      color #808080
// using
.flexContainer
  display flex
  align-items center
  justify-content center
  min-height 230px
// using
.iconBackground
  width 120px
  height 120px
  background-color #F5BA13
  border-radius 50%
  position relative
  box-shadow 1px 1px 1px #333
// using
.form
  background-color $red !important
  border-radius 6px
  padding 1.5rem 2rem
  box-shadow 0px 0px 7px 5px $red
// using
.myBtn
  background-color $primary !important
  box-shadow: 0px 0px 5px 5px $primary
  color #fff !important
  font-weight: bolder
  letter-spacing: 0.1rem
// using
.border
  border 1px dashed #A7A7A7
  margin 1rem 0


// .input-group__input
  // background-color: #fff

.application--light .input-group:not(.input-group--error) label
  color #fff

.application--light .input-group input, .application--light .input-group textarea
  color #fff

.application--light .list
  background-color: $primary